header {
	height: 84px;
	border-bottom: 2px solid #c81523;
}
header img {
	margin-top: 12px;
	width: 60px;
	height: 60px;
}

.registerarea {
	height: 522px;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
}
.registerarea h3 {
	height: 42px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #ececec;
	font-size: 14px;
	line-height: 42px;
	padding: 0 10px;
	font-weight: 400;
}

.logins {
	float: right;
}
.logins a {
	color: #c81523;
}
/*注册区域*/
.reg_form {
	width: 600px;
	/*background-color: pink;*/
	margin: 50px auto 0;
}

.reg_form label {
	margin-left: 100px;
	display: inline-block;
	width: 150px;
	text-align: right;
}
.reg_form ul li {
	margin-top: 10px;
}
.reg_form ul li .inp {
	width: 242px;
	height: 37px;
	border: 1px solid #CCCCCC;
}

.safe em {
	padding: 0 12px;
	/*background-color: pink;*/
	
}
.safe {
	padding-left: 281px;
}

.ruo {
	background-color: #de1111;
}
.zhong {
	background-color: #40b83f;
}
.qiang {
	background-color: #f79100;
}
.agree {
	padding-left: 253px;
}
.agree a {
	color: #1ba1e6;
}
.btn {
	width: 200px;
	height: 34px;
	background-color: #c81623;
	
	margin-top: 10px;
	margin-left:  263px;
	color: #FFFFFF;
}

.links {
	font-size: 14px;
}
.copyright {
	font-size: 14px;
}

/*.mibao {
	padding-left: 80px;
}*/
.reg_form ul li button {
	padding-left: 10px;
	border: 2px solid red;
}
